$color-primary: #1D3557
$color-secondary: #E63946
$color-dark: #457B9D
$color-medium-light: #A8DADC
$color-light: #F1FAEE

$color-warning: #ff8000
$color-danger: #ff1500
$color-success: #67b700
$color-info: #2c35b2

.primary
  background-color: $color-primary
  color: $color-light

.text-primary
  color: $color-primary

.secondary
  background-color: $color-secondary
  color: $color-light

.text-secondary
  color: $color-secondary

.dark
  background-color: $color-dark
  color: $color-light

.text-dark
  color: $color-dark

.medium-light
  background-color: $color-medium-light
  color: $color-primary

.text-medium-light
  color: $color-medium-light

.light
  background-color: $color-light
  color: $color-primary

.text-light
  color: $color-light

.warning
  background-color: $color-warning
  color: $color-primary

.text-warning
  color: $color-warning

.danger
  background-color: $color-danger
  color: $color-light

.text-danger
  color: $color-danger

.success
  background-color: $color-success
  color: $color-light

.text-success
  color: $color-success

.info
  background-color: $color-info
  color: $color-light

.text-info
  color: $color-info

.btn
  border: none
  border-radius: .5rem
  padding: 0.5rem 1rem
  font-size: 1rem
  font-weight: 700
  cursor: pointer

.btn:hover
  opacity: 0.8

.outline-primary
  border: 1px solid $color-primary
  background-color: transparent

.outline-primary:hover
  background-color: $color-primary
  color: $color-light

.outline-secondary
  border: 1px solid $color-secondary
  background-color: transparent

.outline-secondary:hover
  background-color: $color-secondary
  color: $color-light

.outline-dark
  border: 1px solid $color-dark
  background-color: transparent

.outline-dark:hover
  background-color: $color-dark
  color: $color-light

.outline-medium-light
  border: 1px solid $color-medium-light
  background-color: transparent

.outline-medium-light:hover
  background-color: $color-medium-light
  color: $color-primary

.outline-light
  border: 1px solid $color-light
  background-color: transparent

.outline-light:hover
  background-color: $color-light
  color: $color-primary

.outline-warning
  border: 1px solid $color-warning
  background-color: transparent

.outline-warning:hover
  background-color: $color-warning
  color: $color-primary

.outline-danger
  border: 1px solid $color-danger
  background-color: transparent

.outline-danger:hover
  background-color: $color-danger
  color: $color-light

.outline-success
  border: 1px solid $color-success
  background-color: transparent

.outline-success:hover
  background-color: $color-success

.outline-info
  border: 1px solid $color-info
  background-color: transparent

.outline-info:hover
  background-color: $color-info
  color: $color-light
